[submodule "modules/quicklisp-projects"]
	path = modules/quicklisp-projects
	url = git://github.com/quicklisp/quicklisp-projects.git
[submodule "modules/less.js"]
	path = modules/less.js
	url = git://github.com/suzak/less.js.git
