@charset "UTF-8";

html, body {
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  display: table;
}

#content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

header {
  width: 100%;
  padding: 50px 0;
  margin-top: 100px;
  text-align: center;
}

.large-logo {
  font-size: 64px;
  color: white;
  cursor: default;
  text-shadow: 0 -2px 2px rgb(54, 72, 117);
}

.search-form input[type="text"] {
  width: 350px;
  height: 25px;
  padding-left: 5px;
  border-radius: 4px;
  border: 1px solid #BCBCBC;
}

.search-form input[type="submit"] {
  margin: 0;
  width: 29px;
  height: 29px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #6fbf42;
  cursor: pointer;
  font-size: 20px;
  vertical-align: bottom;
}

.distribution-counts {
  color: #888;
  margin-top: 10px;
}

#background-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1000;
  background-color: #1d304e;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(29, 48, 78)), to(rgb(20, 32, 56)));
  background: -moz-linear-gradient(-90deg, rgb(29, 48, 78), rgb(20, 32, 56));
}

#background-yellow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1000;
  background-color: #ddebb9;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(221, 235, 185)), to(rgb(146, 156, 124)));
  background: -moz-linear-gradient(-90deg, rgb(221, 235, 185), rgb(146, 156, 124));
}
