@charset "UTF-8";

/**
 *  Header
 */
#global-header {
  width: 100%;
  color: white;
  background-color: #1d304e;
  text-shadow: 1px 1px 3px black;
  font-size: 24px;
  padding: 10px 15px;
}

#global-header .logo a {
  color: white;
}

#global-header .logo a:hover {
  text-decoration: none;
}

#global-header .search-form {
  position: absolute;
  top: 5px;
  right: 15px;
}

#global-header .search-form input[type="text"] {
  width: 200px;
  height: 20px;
  padding-left: 4px;
}

#global-header .search-form input[type="submit"] {
  width: 25px;
  height: 26px;
  border: none;
  color: white;
  background-color: #6fbf42;
  cursor: pointer;
  font-size: 20px;
  vertical-align: bottom;
  margin-left: -6px;
}

header {
  margin: 10px 0 30px;
}

header h2 {
  float: left;
  font-size: 40px;
}

header .ql-version {
  display: inline-block;
  margin: 3px 0 0 10px;
  font-style: italic;
  color: #ccc;
}

header .header-links {
  position: absolute;
  top: -7px;
  right: 0;
}

header .header-links a {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  background-color: #6fbf42;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(111, 191, 66)), to(rgb(74, 127, 44)));
  text-decoration: none;
}

header .search-query {
  display: inline-block;
  margin: 6px 0 0 10px;
  color: #888;
}

header .search-query strong {
  color: #333;
}

/**
 *  Content
 */
#content {
  position: relative;
  width: 800px;
  margin: 30px auto;
}

#content h3 {
  font-size: 32px;
  margin: 10px 0 20px;
}

.information {
  border: 1px solid #ccc;
  border-top: 3px solid #BBB;
  background-color: #f1f1f1;
  line-height: 200%;
  padding: 15px;
  margin-bottom: 50px;
}

.information dt {
  color: #666;
  font-weight: bold;
  font-size: 90%;
}

.information dd {
  color: #888;
  font-size: 80%;
}

.search-results-summary {
  margin-left: 5px;
  color: #888;
}

.search-results-summary strong {
  color: #666;
}
