@charset "UTF-8";
@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 150%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  margin: 20px 0 10px;
}
a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: #485270;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}
pre {
  margin: 15px 0;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
ul {
  margin: 15px 0;
  padding-left: 30px;
}
.logo {
  font-family: Baskerville, "Baskerville Win95BT", "Times New Roman", Times, serif;
}
@charset "UTF-8";
/**
 *  Footer
 */
#global-footer {
  position: relative;
  width: 800px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
}
#global-footer .lisp-logo {
  position: absolute;
  top: 35px;
  right: 0;
  width: 150px;
  height: 50px;
  background-image: url(/images/lisp-logo150x50.png);
}
.page-index #global-footer .lisp-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 71px;
  background-image: url(/images/lisp-logo-transparent.png);
}
@charset "UTF-8";
.information {
  border: 1px solid #ccc;
  border-top: 3px solid #BBB;
  background-color: #f1f1f1;
  line-height: 200%;
  padding: 15px;
}
.information dt {
  color: #666;
  font-weight: bold;
  font-size: 90%;
}
.information dd {
  color: #888;
  font-size: 80%;
}
.readme-body {
  margin: 0 10px 10px;
  padding: 0 15px 15px;
  line-height: 1.6;
}
.readme-body .plain-text {
  white-space: pre-wrap;
}
.readme-body h1 {
  font-size: 28px !important;
}
.readme-body h2 {
  font-size: 24px !important;
  border-bottom: 1px solid #ccc;
}
.readme-body h3 {
  font-size: 18px !important;
}
.readme-body pre code {
  padding: 0 !important;
}
.readme-body .markdown code,
.readme-body .markdown pre {
  color: white;
  background-color: black;
}
.readme-body .markdown code {
  padding: 2px;
  border-radius: 3px;
  font-size: 90%;
}
.readme-body .markdown pre {
  padding: 15px;
  border-radius: 5px;
}
@charset "UTF-8";
.search-results-summary {
  margin-left: 5px;
  color: #888;
}
.search-results-summary strong {
  color: #666;
}
.search-result {
  position: relative;
  padding: 15px;
  list-style: none;
  clear: both;
  line-height: 100%;
  border-bottom: 2px solid #eee;
  width: 100%;
}
.search-result .project-name {
  font-size: 130%;
}
.search-result .ql-version {
  font-style: italic;
  color: #999;
  font-size: 80%;
}
.search-result .download-count {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #2075a5;
}
.search-result .readme-body {
  margin: 7px 60px 0 10px;
  color: #AAA;
  font-size: 80%;
  max-height: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@charset "UTF-8";
.toc-systems header {
  margin-left: 10px;
}
.toc-systems header h2 {
  font-size: 120% !important;
}
.toc-systems dl {
  margin-left: 220px;
}
.toc-systems dl dd {
  margin-left: 20px;
}
.toc-systems dl .one-line-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
  font-size: 90%;
}
.system {
  position: relative;
  padding-left: 220px;
  margin-top: 35px;
  padding-bottom: 40px;
  border-top: 1px dotted #CCC;
}
.toc {
  position: absolute;
  top: 20px;
  left: 10px;
}
.toc h3 {
  font-size: 100% !important;
  margin: 0 auto 5px !important;
}
.toc ul {
  margin-top: 0;
  font-size: 90%;
  padding: 0;
  width: 200px;
}
.toc ul.toc-systems {
  list-style: none;
}
.toc ul.toc-packages {
  list-style: inherit;
}
.toc ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.api {
  padding-left: 10px;
}
.api .package {
  border-top: 1px dotted #CCC;
}
.api ul {
  padding-left: 3px;
  list-style: none;
}
.api ul li {
  margin: 30px 0;
}
.api code.symbol-name {
  font-weight: bold;
  color: #444;
  font-size: 120%;
}
.api .lambda-list {
  display: inline-block;
  margin-left: 8px;
  color: #555;
}
.api .lambda-list .symbol-name {
  font-size: 95%;
  font-weight: normal;
}
.api .lambda-list .keyword {
  color: #777;
  font-style: italic;
  font-size: 90%;
}
.api .initial-value {
  color: #777;
  font-size: 95%;
  display: inline-block;
  margin-left: 8px;
}
.api .initial-value.unbound {
  font-style: italic;
}
.api dl {
  margin: 8px 0 0 15px;
  font-size: 90%;
}
.api dl .docstring {
  margin-top: 0;
  line-height: 1.3;
  font-size: 100%;
  background: none;
  border: none;
}
.api .symbol {
  position: relative;
}
.api .symbol-type {
  position: absolute;
  left: -78px;
  display: inline-block;
  padding-right: 10px;
  font-size: 85%;
  text-align: right;
  width: 60px;
  border-right: 3px solid;
}
.api .symbol-type.class {
  border-color: rgba(224, 153, 82, 0.7);
}
.api .symbol-type.function {
  border-color: rgba(77, 119, 203, 0.7);
}
.api .symbol-type.method {
  border-color: rgba(46, 83, 157, 0.7);
}
.api .symbol-type.macro {
  border-color: rgba(153, 51, 204, 0.7);
}
.api .symbol-type.variable {
  border-color: rgba(52, 178, 125, 0.7);
}
.api .symbol-type.constant {
  border-color: rgba(98, 209, 162, 0.7);
}
.api .symbol-type.type {
  border-color: #AAA;
}
.api .slot-list .label {
  font-style: italic;
  color: #555;
}
.api .docstring {
  margin: 5px 0 10px;
  font-size: 90%;
  color: #333;
  line-height: 1.5;
}
.api .docstring pre {
  white-space: pre-wrap;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.api .description {
  margin: 15px 0 10px 10px !important;
}
.error {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 100%;
  border: 1px solid #fbeed5;
  color: #c09853;
  background-color: #fcf8e3;
  border-radius: 4px;
}
.error .error-detail {
  margin-bottom: 0;
  overflow: scroll;
}
section {
  margin-bottom: 40px;
}
#content {
  position: relative;
  width: 800px;
  margin: 30px auto;
}
#content h1 {
  font-size: 32px;
}
#content h2 {
  font-size: 20px;
}
#content h3 {
  font-size: 32px;
  margin: 10px 0 20px;
}
/**
 *  Header
 */
#global-header {
  width: 100%;
  color: white;
  background-color: #1d304e;
  text-shadow: 1px 1px 3px black;
  padding: 10px 15px;
}
#global-header .logo a {
  font-size: 24px;
  color: white;
}
#global-header .logo a:hover {
  text-decoration: none;
}
.search-form {
  position: absolute;
  top: 5px;
  right: 15px;
}
.search-form input[type="text"] {
  width: 200px;
  height: 20px;
  padding-left: 4px;
}
.search-form input[type="submit"] {
  width: 25px;
  height: 26px;
  border: none;
  color: white;
  background-color: #6fbf42;
  cursor: pointer;
  font-size: 20px;
  vertical-align: bottom;
  margin-left: -6px;
}
header {
  margin: 10px 0 30px;
}
header h2 {
  float: left;
  font-size: 40px !important;
  margin: 0 !important;
}
header .subtitle {
  display: inline-block;
  margin: 3px 0 0 10px;
  font-style: italic;
  color: #ccc;
}
header .header-links {
  position: absolute;
  top: -7px;
  right: 0;
}
header .header-links a {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  background-color: #6fbf42;
  background: -webkit-gradient(linear, left top, left bottom, from(#6fbf42), to(#4e872e));
  background: -moz-linear-gradient(top, #6fbf42, #4e872e);
  text-decoration: none;
}
header .search-query {
  display: inline-block;
  margin: 6px 0 0 10px;
  color: #888;
  font-size: 25px;
}
header .search-query strong {
  color: #333;
}
.error-message {
  text-align: left;
}
.breadcrumb-header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c404b), to(#25282f));
  background: -moz-linear-gradient(top, #3c404b, #25282f);
  font-size: 80%;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.breadcrumb-header-container a {
  display: inline-block;
  color: #d0d0d0;
  padding: 2px 10px;
  text-decoration: none;
  text-shadow: 0 -1px 1px #000000;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.breadcrumb-header-container a:hover {
  color: #fff;
  background: #474c59;
}
.breadcrumb-header-container a.top-link {
  float: left;
}
.breadcrumb-header-container .breadcrumb-header {
  float: left;
  display: inline-block;
}
.breadcrumb-header-container .breadcrumb-header .current a {
  color: #f0f0f0;
  font-weight: bold;
}
