@charset "UTF-8";

.readme-body {
  margin: 0 10px 10px;
  padding: 0 15px 15px;
  line-height: 1.6;
}

.readme-body .plain-text {
  white-space: pre-wrap;
}

.readme-body h1,
.readme-body h2,
.readme-body h3,
.readme-body h4,
.readme-body h5,
.readme-body h6 {
  margin: 20px 0 10px;
}

.readme-body h1 {
  font-size: 28px !important;
}

.readme-body h2 {
  font-size: 24px !important;
  border-bottom: 1px solid #ccc;
}

.readme-body h3 {
  font-size: 18px !important;
}

.readme-body code,
.readme-body pre {
  color: white;
  background-color: black;
}

.readme-body code {
  padding: 5px;
  border-radius: 5px;
  font-size: 90%;
}

.readme-body pre {
  padding: 15px;
  border-radius: 8px;
}

.readme-body pre code {
  padding: 0;
}
