@charset "UTF-8";
.search-results-summary {
  margin-left: 5px;
  color: #888;
}
.search-results-summary strong {
  color: #666;
}
.search-result {
  position: relative;
  padding: 15px;
  list-style: none;
  clear: both;
  line-height: 100%;
  border-bottom: 2px solid #eee;
  width: 100%;
}
.search-result .project-name {
  font-size: 130%;
}
.search-result .ql-version {
  font-style: italic;
  color: #999;
  font-size: 80%;
}
.search-result .download-count {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #2075a5;
}
.search-result .readme-body {
  margin: 7px 60px 0 10px;
  color: #AAA;
  font-size: 80%;
  max-height: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
