<span class="symbol-type label <%= (downcase :type)  %>"><%= (capitalize :type) %></span>
<% @with symbol %><% @include symbol %><% @endwith %>
<% @include function/lambda-list %>
<% @with documentation %><% @include docstring %><% @endwith %>
