@charset "UTF-8";
/**
 *  Footer
 */
#global-footer {
  position: relative;
  width: 800px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
}
#global-footer .lisp-logo {
  position: absolute;
  top: 35px;
  right: 0;
  width: 150px;
  height: 50px;
  background-image: url(/images/lisp-logo150x50.png);
}
.page-index #global-footer .lisp-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 71px;
  background-image: url(/images/lisp-logo-transparent.png);
}
