<span class="lambda-list"><%
  (labels ((rec (lambda-list)
             (loop for symbol in lambda-list
                   if (or (null symbol) (not (listp symbol)))
                     collect symbol
                   else if (not (trivial-types:property-list-p symbol))
                     collect (rec symbol)
                   else if (char= (aref (getf symbol :name) 0) #\&)
                     collect (format nil "<span class=\"keyword\">~(~A~)</span>"
                                     (emb::escape-for-xml (getf symbol :name)))
                   else
                     collect (format nil "<code class=\"symbol-name\">~(~A~)</code>"
                                     (emb::escape-for-xml (getf symbol :name))))))
     (format t "~{~A~^ ~}" (rec (getf env :lambda-list))))
%></span>
