<header>
  <h2 class="project-name"><a href="/<% @var name -escape uri %>/"><% @var name %></a></h2>
  <span class="subtitle">API Reference</span>
  <% @include header-links.tmpl %>
</header>

<% @if errors %>
<section class="error">
<p class="error-message">Error has occured while parsing this library (or its dependencies). Wait patiently, or report <a href="https://github.com/quickdocs/issues">issues</a> to hasten my bug-fixing.</p>

<pre class="error-detail"><% @loop errors %>
<%= (emb::escape-for-xml env) %>
<% @endloop %></pre>
</section>
<% @endif %>

<% @if system-list %>
<nav class="toc">
  <ul>
    <% @loop system-list %>
      <li><a href="#system-<% @var name -escape uri %>"><% @var name %></a></li>
      <% @if package-list %>
      <ul>
      <% @loop package-list %>
        <li><a href="#package-<% @var name -escape uri %>"><% @var name %></a></li>
      <% @endloop %>
      </ul>
      <% @endif %>
    <% @endloop %>
  </ul>
</nav>

<div class="api">
  <% @loop system-list %>
  <article class="system">
    <header>
      <h1 id="system-<%= (emb::escape-for-xml (getf env :name)) %>"><% @var name %></h1>
      <% @if description %>
      <p class="description"><% @with description %><% @include _trim %><% @endwith %></p>
      <% @endif %>
    </header>
    <% @loop package-list %>
      <section class="package">
        <% @include package.tmpl %>
      </section>
    <% @endloop %>
  </article>
  <% @endloop %>
</div>
<% @endif %>
<div class="breadcrumb-header-container" style="display: none">
  <a href="#global-header" class="lsf-icon top-link" title="arrowup"><% @var name %></a>
  <div class="breadcrumb-header">
  </div>
</div>
