<header>
  <h2 class="project-name"><a href="/<% @var name -escape uri %>/"><% @var name %></a></h2>
  <span class="subtitle">API Reference</span>
  <% @include header-links.tmpl %>
</header>

<% @if errors %>
<section class="error">
<p class="error-message">Error has occured while parsing this library (or its dependencies). Wait patiently, or report <a href="https://github.com/quickdocs/issues">issues</a> to hasten my bug-fixing. <a class="error-open-detail" href="#">&gt;&gt; See detail</a></p>

<pre class="error-detail" style="display:none"><% @loop errors %>
<%= (emb::escape-for-xml env) %>
<% @endloop %></pre>
</section>
<% @endif %>

<nav class="toc-systems">
  <header><h2>Systems</h2></header>
  <dl>
    <% @loop system-list %>
    <dt><a href="#system-<%= (emb::escape-for-xml (getf env :name)) %>"><% @var name %></a></dt>
    <% @if description %>
    <dd class="one-line-description"><% @with description %><% @include _trim %><% @endwith %></dd>
    <% @endif %>
    <% @endloop %>
  </dl>
</nav>

<% @loop system-list %>
<article class="system">
  <nav class="toc">
  <h3>Package Index</h3>
  <ul class="toc-packages">
    <% @loop package-list %>
      <li><a href="#package-<% @var name -escape uri %>" title="<% @var name %>"><% @var name %></a></li>
    <% @endloop %>
  </ul>
  </nav>

  <header>
    <h1 id="system-<%= (emb::escape-for-xml (getf env :name)) %>"><% @var name %></h1>
    <% @if description %>
    <p class="description"><% @with description %><% @include _trim %><% @endwith %></p>
    <% @endif %>
  </header>

  <div class="api">
    <% @loop package-list %>
      <section class="package">
        <% @include package.tmpl %>
      </section>
    <% @endloop %>
  </div>
</article>
<% @endloop %>

<ul class="breadcrumb-header-container" style="display: none">
  <li><a href="#global-header" class="top-link lsf">home</a></li>
</ul>
<div class="pager-link-container" style="display: none">
  <a class="pager-link lsf-icon" title="up">Prev</a>
  <a class="pager-link lsf-icon" title="down">Next</a>
</div>
