<span class="symbol-type label class"><% @with type %><% @include _string-capitalize %><% @endwith %></span>
<% @with symbol %><% @include symbol %><% @endwith %>
<% @if super-class-list %>inherits (<% @include class/super-class-list %>)<% @endif %>
<% @with documentation %><% @include docstring %><% @endwith %>
<dl class="slot-list">
<% @loop slot-list %>
  <dt>
    <% @with symbol %><% @include symbol %><% @endwith %>
    <% @if accessors %>
    <span class="label">Accessor:</span> <% @with @accessors %><% @include class/accessors %><% @endwith %>
    <% @endif %>
    <% @if readers %>
    <span class="label">Reader:</span> <% @with @readers %><% @include class/accessors %><% @endwith %>
    <% @endif %>
    <% @if writers %>
    <span class="label">Writer:</span> <% @with @writers %><% @include class/accessors %><% @endwith %>
    <% @endif %>
  </dt>
  <% @if documentation %>
  <dd><% @with documentation %><% @include docstring %><% @endwith %></dd>
  <% @endif %>
<% @endloop %>
</dl>
