<span class="symbol-type label class"><% @with type %><% @include _string-capitalize %><% @endwith %></span>&nbsp;<code class="symbol-name"><% @with name %><% @include _string %><% @endwith %></code><% @if super-class-list %> inherits (<code class="symbol-name"><% @with super-class-list %><% @include _list-comma %><% @endwith %></code>)<% @endif %>
<% @with documentation %><% @include docstring %><% @endwith %>
<dl class="slot-list">
<% @loop slot-list %>
  <dt>
    <code class="symbol-name"><% @var name %></code>
    <% @if accessors %>
    <span class="label">Accessor:</span> <code class="symbol-name"><% @with accessors %><% @include _list %><% @endwith %></code>
    <% @endif %>
    <% @if readers %>
    <span class="label">Reader:</span> <code class="symbol-name"><% @with readers %><% @include _list %><% @endwith %></code>
    <% @endif %>
    <% @if writers %>
    <span class="label">Writer:</span> <code class="symbol-name"><% @with writers %><% @include _list %><% @endwith %></code>
    <% @endif %>
  </dt>
  <% @if documentation %>
  <dd><% @with documentation %><% @include docstring %><% @endwith %></dd>
  <% @endif %>
<% @endloop %>
</dl>
