<span class="symbol-type label <% @with type %><% @include _string-downcase %><% @endwith %>"><% @with type %><% @include _string-capitalize %><% @endwith %></span>
<% @with symbol %><% @include symbol %><% @endwith %>
<% @include function/lambda-list %>
<% @with documentation %><% @include docstring %><% @endwith %>
