<span class="symbol-type label <% @with type %><% @include _string-downcase %><% @endwith %>"><% @with type %><% @include _string-capitalize %><% @endwith %></span>&nbsp;<code class="symbol-name"><% @var name %></code>
<% @with lambda-list %><% @include lambda-list %><% @endwith %>
<% @with documentation %><% @include docstring %><% @endwith %>
