<div id="global-header">
  <h1 class="logo"><a href="/">ClackDoc</a></h1>
  <form class="search-form" method="get" action="/search">
    <input type="text" name="q" value="<% @var query %>" placeholder="Search for projects" />
    <input type="submit" class="lsf" value="search" />
  </form>
</div>
