<div id="global-header">
  <h1 class="logo">ClackDoc</h1>
  <form class="search-form" method="get" action="/search">
    <input type="text" name="q" value="<% @var query %>" placeholder="Search for projects" />
  </form>
</div>
