<aside class="header-links">
  <% @if homepage %>
  <a href="<% @var homepage %>" class="lsf-icon" title="web">Website</a>
  <% @endif %>
  <% @if project-url %>
  <a href="<% @var project-url %>" class="lsf-icon" title="file">Source Code</a>
  <% @endif %>
  <a href="<% @var archive-url %>" class="lsf-icon" title="download">Download</a>
</aside>
