<span class="lambda-list">[<%
  (loop for symbol in env
        for symbol-name = (princ-to-string symbol)
        if (char= (aref symbol-name 0) #\&)
          collect (format nil "<span class=\"keyword\">~A</span>" symbol-name) into el
        else
          collect (format nil "<span class=\"symbol-name\">~A</span>" symbol-name) into el
        finally (format t "~{~A~^&nbsp;~}" el))
%>]</span>
