<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title><% @var title %></title>
  <link rel="stylesheet" type="text/css" href="/css/LigatureSymbols/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css<% @if deploy-time %>?<% @var deploy-time -escape raw %><% @endif %>" />
  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/quickdocs.js"></script>
</head>
<body>
<div id="container">
  <% @include header %>

  <div id="content">
    <% @var content -escape raw %>

    <% @include footer %>
  </div>
</div>
</body>
</html>
