<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title><% @var title %></title>
  <link rel="stylesheet" type="text/css" href="/css/LigatureSymbols/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css<% @if deploy-time %>?<% @var deploy-time -escape raw %><% @endif %>" />
  <link rel="apple-touch-icon" sizes="57x57"   href="/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="72x72"   href="/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/quickdocs.js<% @if deploy-time %>?<% @var deploy-time -escape raw %><% @endif %>"></script>
</head>
<body>
<div id="container">
  <% @include header %>

  <div id="content">
    <% @var content -escape raw %>

    <% @include footer %>
  </div>
</div>
</body>
</html>
