<h2 id="package-<%= (emb::escape-for-xml (getf env :name)) %>"><% @var name %></h2>
<% @with documentation %><% @include docstring %><% @endwith %>
<ul>
  <% @loop symbol-list %>
  <li class="symbol">
    <% (cond ((not (getf (getf env :symbol) :externalp)) %>
    <% ) ((find (getf env :type) '(:variable :constant)) %>
    <% @include variable.tmpl %>
    <% )     ((find (getf env :type) '(:struct :class)) %>
    <% @include class.tmpl %>
    <% )     ((find (getf env :type) '(:function :method :macro :type)) %>
    <% @include function.tmpl %>
    <% )) %>
  </li>
  <% @endloop %>
</ul>
