<header>
  <h2 class="project-name"><a href="/<% @var name -escape uri %>/"><% @var name %></a></h2>
  <span class="subtitle ql-version"><% @var ql-version %></span>
  <% @include header-links.tmpl %>
</header>

<article>
<% @if readme %>
<section class="readme">
  <div class="readme-body"><% @var readme -escape raw %></div>
</section>
<% @endif %>

<% (when (or (getf env :authors)
             (getf env :maintainers)
             (getf env :licenses)
             (getf env :categories)) %>
<section class="information">
  <dl>
    <% @if authors %>
    <dt>Author</dt>
    <dd><% @with authors %><% @include _list-comma %><% @endwith %></dd>
    <% @endif %>
    <% @if maintainers %>
    <dt>Maintainer</dt>
    <dd><% @with maintainers %><% @include _list-comma %><% @endwith %></dd>
    <% @endif %>
    <% @if licenses %>
    <dt>Licenses</dt>
    <dd><% @with licenses %><% @include _list-comma %><% @endwith %></dd>
    <% @endif %>
    <% @if categories %>
    <dt>Categories</dt>
    <dd><%= (format nil "~{~{<a href=\"/search?q=~A\" class=\"category\">~A</a>~}~^, ~}" (mapcar #'(lambda (cat) (list (drakma::url-encode cat :utf-8) (emb::escape-for-xml cat))) (getf env :categories))) %></dd>
    <% @endif %>
  </dl>
</section>
<% ) %>

<aside class="dependencies">
<h3>Requirements</h3>
<span class="count"><%= (emb::escape-for-xml (format nil "~:D" (length (getf env :dependencies)))) %></span>

<% @if dependencies %>
<ul class="folding-list">
  <% @loop dependencies %>
  <li>
    <a href="/<% @var name -escape uri %>/">
      <span class="name"><% @var name %></span>
      <span class="description"><% @var description %></span>
    </a>
  </li>
  <% @endloop %>
</ul>
<% @else %>
<em class="none">None.</em>
<% @endif %>
</aside>

<aside class="depending">
<h3>Required by</h3>
<span class="count"><%= (emb::escape-for-xml (format nil "~:D" (length (getf env :depending)))) %></span>

<% @if depending %>
<ul class="folding-list">
  <% @loop depending %>
  <li>
    <a href="/<% @var name -escape uri %>/">
      <span class="name"><% @var name %></span>
      <span class="description"><% @var description %></span>
    </a>
  </li>
  <% @endloop %>
</ul>
<% @else %>
<em class="none">None.</em>
<% @endif %>
</aside>

<aside class="links">
<h3>Links</h3>
<ul>
  <li><a href="/<% @var name -escape uri %>/api">API Reference</a></li>
  <% @if homepage %>
  <li><a href="<% @var homepage %>">Website</a></li>
  <% @endif %>
  <% @if project-url %>
  <li><a href="<% @var project-url %>">Source Code</a></li>
  <% @endif %>
</ul>
</aside>
</article>
