<header>
  <h2 class="project-name"><% @var name %></h2>
  <span class="ql-version"><% @var ql-version %></span>
  <div class="header-links">
    <% @if homepage %>
    <a href="<% @var homepage %>">Website</a>
    <% @endif %>
    <% @if project-url %>
    <a href="<% @var project-url %>">Source Code</a>
    <% @endif %>
    <a href="<% @var archive-url %>" title="Download a tarball from Quicklisp">Download</a>
  </div>
</header>

<% @if readme %>
<section class="readme">
  <div class="readme-body"><% @var readme -escape raw %></div>
</section>
<% @endif %>

<% (when (or (getf env :authors)
             (getf env :maintainers)
             (getf env :licenses)) %>
<section class="information">
  <dl>
    <% @if authors %>
    <dt>Author</dt>
    <dd><% @with authors %><% @include _list %><% @endwith %></dd>
    <% @endif %>
    <% @if maintainers %>
    <dt>Maintainer</dt>
    <dd><% @with maintainers %><% @include _list %><% @endwith %></dd>
    <% @endif %>
    <% @if licenses %>
    <dt>Licenses</dt>
    <dd><% @with licenses %><% @include _list %><% @endwith %></dd>
    <% @endif %>
  </dl>
</section>
<% ) %>

<h3>Links</h3>

<ul>
  <li><a href="./<% @var name %>/api">API Reference</a></li>
</ul>
