<header>
  <% @if query %>
  <h2>Search Results</h2>
  <div class="search-query">for <strong><% @var query %></strong></span>
  <% @else %>
  <h2>All <%= (format nil "~:D" (length (getf env :releases))) %> Projects</h2>
  <% @endif %>
  <br />
</header>

<% @if query %>
<p class="search-results-summary"><%=
      (format nil "<strong>~:D</strong> project~:P ~:*~[are~;is~:;are~] found." (length (getf env :releases)))
   %></p>
<% @endif %>

<% @if releases %>
<ul class="search-results">
<% @loop releases %>
  <li><a href="/<%= (emb::url-encode env) %>"><%= (emb::escape-for-xml env) %></a></li>
<% @endloop %>
</ul>
<% @endif %>
