<span class="symbol-type label"><% @with type %><% @include _string-capitalize %><% @endwith %></span>&nbsp;<code class="symbol-name"><% @var name %></code>
<% @if documentation %>
<div class="docstring"><% @with documentation %><% @include _trim %><% @endwith %></div>
<% @endif %>
