<%= (string-capitalize (getf env :type)) %>: <strong><% @var name %></strong> inherits (<% @var super-class-list %>)
<% @if doc %>
<pre>
  <% @var doc %>
</pre>
<% @endif %>
<dl>
<% @loop slot-list %>
<%= env %>
<%#  <dt><strong><% @var name %></strong> <% @var accessor %></dt>
  <% @if doc %><dd><% @var doc %></dd><% @endif %> #%>
<% @endloop %>
</dl>
