<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><% @var name %> - <% @var description %></title>
  <link rel="stylesheet" href="./main.css" type="text/css" media="screen, tv, print" charset="UTF-8" />
</head>
<body>
<div class="container">
<div class="sidebar">
  <h2>Table of Contents</h2>
  <% (let ((level 1))
       (dolist (sec (getf env :sections))
         (when (< 1 (getf sec :level))
           (cond
             ((< level (getf sec :level)) (write-string "<ul>"))
             ((> level (getf sec :level)) (write-string "</ul>")))
           (setf level (getf sec :level))
           (format t "<li><a href=\"#~A\">~A</a></li>" (emb::url-encode (getf sec :title)) (getf sec :title))))) %>
</div>
<div class="content">
  <% @loop sections %>
    <a name="<% @var title -escape uri %>"></a>
    <h<% @var level %>><% @var title %></h<% @var level %>>
    <% @var body %>
  <% @endloop %>

<h2>API Reference</h2>

<ul>
<% @loop package-list %>
  <li>
    <a href="<%= (string-downcase env) %>.html">
      <%= (string-capitalize env) %>
    </a>
  </li>
<% @endloop %>
</ul>
</div>
</div>
</body>
</html>
