<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><% @var name %> - <% @var description %></title>
  <link rel="stylesheet" href="./main.css" type="text/css" media="screen, tv, print" charset="UTF-8" />
</head>
<body>
<div class="container">
<div class="sidebar">
  <h2>Table of Contents</h2>
<% @var toc %>
</div>
<div class="content">
<% @var long-description %>

<h2>API Reference</h2>

<ul>
<% @loop package-list %>
  <li>
    <a href="<%= (string-downcase env) %>.html">
      <%= (string-capitalize env) %>
    </a>
  </li>
<% @endloop %>
</ul>
</div>
</div>
</body>
</html>
